{
	auto_https off
	admin off
}

# Web Dev Wallet Frontend
:{$DEV_WALLET_FRONTEND_PORT} {
    reverse_proxy http://waltid-dev-wallet:{$DEV_WALLET_FRONTEND_PORT} # frontend
    reverse_proxy /wallet-api/* http://wallet-api:{$WALLET_BACKEND_PORT} # backend
}
