version: '3'
services:
    laravel.test:
        build:
            context: ./vendor/laravel/sail/runtimes/8.3
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.3/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '8498:80'
            - '${VITE_PORT:-5198}:${VITE_PORT:-5198}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
    issuer-api:
        image: docker.io/waltid/issuer-api:0.12.0
#        pull_policy: always
        ports:
            - "8497:8497"
        env_file:
            - ./docker/.env
        volumes:
            - ./docker/issuer-api/config:/waltid-issuer-api/config
        networks:
            - sail

networks:
    sail:
        driver: bridge

