---
services:
  generieke-issuer-portaal:
    build:
      context: https://github.com/laravel/sail.git#:runtimes/8.3
      args:
        WWWGROUP: "${NEW_GID:-1000}"
    volumes:
      - ${PWD}/compose-services/generieke-issuer-portaal:/opt/app/
      - ${PWD}/../../gfmodules-generieke-issuer-portaal:/var/www/html
    ports:
      - "8564:80"
      - "${VITE_PORT:-5177}:${VITE_PORT:-5177}"
    environment:
      WWWUSER: "${NEW_UID:-1000}"
      LARAVEL_SAIL: 1
      XDEBUG_MODE: "${SAIL_XDEBUG_MODE:-off}"
      XDEBUG_CONFIG: "${SAIL_XDEBUG_CONFIG:-client_host=host.docker.}"
      APP_ENV_PATH: "/opt/app/"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      start_period: 30s
    entrypoint: /opt/app/init.sh
    configs:
      - source: generieke_issuer_portaal_config
        target: /opt/app/.env.coordination
    secrets:
      - npmrc
    depends_on:
      - generieke-issuer-revocatie-api
      - issuer-api
      - source-connector-api
      - waltid-dev-wallet
    stop_signal: SIGKILL
    networks:
      gfmodules-generieke-issuer:
        aliases:
        - generieke-issuer-portaal

configs:
  generieke_issuer_portaal_config:
    file: .env.coordination
